.purple {
    background-color: purple;
}

.navbar-nav > li:hover{
    background-color: #4a004a;
}

.navbar-nav > li:active{
    background-color: #4a004a;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-header > li > a {
  color: white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn:hover{
    background-color: #4a004a;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
     overflow: hidden;
    position: relative;
      width: 100%;
      height: 450px;
      margin: auto;

  }


.carousel-control {
  padding-top:10%;
  width:5%;
}

.dropdown-menu{
    background: #e5c1ff;
}

/*// statistic */
#canvas_container {
   width: 1850;
   height: 1800;
   border: 1px solid #aaa;
}
#svg{
    border-style: none;
}
