@CHARSET "ISO-8859-1";

<style type="text/css">
            #canvas_container {
                width: 1850;
                height: 1800;
                border: 1px solid #aaa;
            }
        </style>