{% extends "pcs/base.html" %}

{% block body_block %}

<h1 align="center" >About Us</h1>
<div class="container_padding">
<i><b>Pancreatic Cancer Scotland</b></i> was formed in 2010, and is the only Scottish charity dedicated solely to improving the outcome for patients diagnosed as having cancer of the pancreas and associated tumours. In 2011, pancreatic cancer attracted just 1% of research funding from the major funding bodies in the UK. Pancreatic Cancer Scotland aims to help to redress this funding anomaly by investing in projects that will provide information, advance research, and improve the standard of healthcare for patients with pancreatico-biliary cancer in Scotland.
<br><br>
<p></strong><i>Our <b>objectives</b> are to:</i>
<ul>
<li>Promote <b>awareness</b> of pancreatic cancer in Scotland; </li>
<li>Advance <b>education</b> of pancreatic cancer to individuals and members of the healthcare profession in Scotland; </li>
<li>Advance <b>research</b> projects in Scotland with the aim of developing effective treatments and improving survival rates of those suffering from pancreatic cancer in Scotland; </li>
<li>Advance the <b>standard of healthcare</b> for individuals suffering from pancreatic cancer in Scotland; and </li>
<li>Advance the <b>provision of practical and emotional support</b> to pancreatic cancer sufferers and their families in Scotland. </li>
<br>
Our work is relevant to a number of cancers, including Pancreatic Ductal Adenocarcinoma (PDAC), which is the most common type of pancreatic cancer, Cholangiocarcinoma (cancer of the bile duct), Ampullary Cancer (at the end of the bile duct), Duodenal Cancer (in the small intestine), as well as Pancreatic Endocrine Tumours (rare forms of cancer in the pancreas).
<br><br>
Pancreatic Cancer Scotland is registered as a Scottish charity – registration number SC041740.
</p>


<br><br>
    <h1>Facebook Page</h1>
<div class="fb-page" data-href="https://www.facebook.com/Pancreatic-Cancer-Scotland-306220162741768/" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
</div>
{% endblock %}