{% extends "pcs/base.html" %}

{% block body_block %}

    <h1 align="center">Pancreatic Cancer Scotland</h1>
<div class="container_padding">
Patients, volunteers, nurses and doctors in Scotland have come together to give you hope in the battle against <b>pancreatic cancer</b>.
This website is for sharing hope, knowledge and action.
<br><br>
Early diagnosis gives patients the best chance of survival, so better awareness of pancreatic cancer is vital for everyone.
Raising awareness is one of Pancreatic Cancer Scotland’s main objectives. So here you can find a huge amount of information about it.
<br><br>
<b>Your help is crucial! </b><br>
There are loads of suggestions about how you can improve awareness and, at the same time, raise funds for Pancreatic Cancer Scotland.
You can also donate money and buy PCS merchandise.
We’d love to hear from you! You can follow us on Facebook or post comments on our blog.
<br><br>
We also fund <b>research</b> into pancreatic cancer, and work to improve <b>healthcare standards</b> in Scotland.
Part of this site is for researchers and healthcare professionals.
There is information about how to apply for funding from us, and how best to help patients.
<br><br>
    </div>
{% endblock %}