{% extends "pcs/base.html" %}
{% load staticfiles %}
{% block body_block %}
<meta charset="UTF-8">
<title>Pancreatic Cancer Scotland - Shared Stories</title>
    <h1 align="center" >Share stories</h1>

<div class="container_padding">
<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Survivor Story: Suzanne Mitchell</h2>
      <p>

I was diagnosed with pancreatic cancer in July 2013 and I’ve opted not to have treatment beyond the Whipple surgery I had in August of that year.
          Instead, I’m fighting the disease on my own terms and am enjoying each moment of every day — traveling, reading, spending time with friends and doing many of the things
          I never had time to do until now.
          During the 14 years I spent with the Dallas Cowboys Cheerleaders –
          I was their first-ever director – I often told the girls that,
          “It’s not what happens to you ... it’s what happens through.<br><br>
          <img class="pictureStory" src="{% static "images/picture4.jpg" %}" />

          </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 24</span> </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Survivor Story: Mary Beth Campbell</h2>
      <p>
      I would love to tell you all why I Wage Hope. I am a 13-year survivor of pancreatic cancer.
          I am very blessed. Not many people survived this deadly disease in 2002.
          I was fortunate to be diagnosed early.
          My only symptom was maddening itching. No jaundice was obvious, but my lab test reflected a bile duct obstruction.
          My smart doctor called me in for an immediate CT scan, which showed a 2.5-centimeter tumor.
          Then the treatment started. First, we knew a good surgeon who performed the well-known Whipple procedure.
          The next step after recovery was to...<br><br>
          <img class="pictureStory" src="{% static "images/image2.jpg" %}" />
      </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 18</span> </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Survivor Story: Schanna Bodkin</h2>
      <p>
Beginning in 2010, I started having pancreatitis, which resulted in two hospital stays.
          Scans showed an area of concern on my pancreas. After having my gallbladder removed and two biopsies, both of which came back inconclusive, my doctor took a "wait and see" approach.
          But it wasn't until my physician gave the green light to go on a cruise that my life became a nightmare.
          I ended up in the ship's infirmary with yet another bout of pancreatitis.
          I was taken off the ship by ambulance and transported to one of only two hospitals on the island of St. Maarten. Five...<br><br>
        <div><img class="pictureStory" src="{% static "images/image3.jpg" %}" /></div>
      </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Jan 24</span> </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location"></div>
    <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Survivor Story: Jonathan O'Riordan</h2>
      <p>
          I am 39 and I was diagnosed with metastatic adenocarcinoma of the pancreas four weeks ago.
          Before I tell my story, I want to say that reading the other survivor stories has touched me deeply.
          I read them through floods of tears of solidarity. You are all amazing, strong and incredible people.
          Thank you for sharing your stories. They have given me immense hope.
          My diagnosis was rather protracted, having come after months of illness and hospital stays.
          It began with ferocious body itching, diarrhea, dark urine and abdominal pain that was not diagnosed...<br><br>
<img class="pictureStory" src="{% static "images/image4.jpg" %}" />
      </p>
      <a href="#0" class="cd-read-more">Read more</a> <span class="cd-date">Feb 14</span> </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->



</section>
</div>
{% endblock %}