{% extends "pcs/base.html" %}

{% block body_block %}
<meta charset="UTF-8">
<title>Pancreatic Cancer Scotland - Support</title>

    <h1 align="center" >Support</h1>
<div class="container_padding">
We offer funding both to <b>individual researchers</b> and to <b>research centres
across Scotland</b> in order to encourage and support our long-term goal of
developing effective treatments and improving survival rates of those suffering for pancreatic cancer in Scotland.
<br>
A major focus of Pancreatic Cancer Scotland is to <b>improve the standard
of healthcare</b> available to patients with pancreatic cancer across Scotland.
<br>
This covers a number of activities:
<br>
<ul>
<li>Improving education of what constitutes best practice;</li>
<li>Encouraging early diagnosis;</li>
<li>Encouraging the standardization of care practice in Scotland;</li>
<li>Promoting the best routes by which patients are referred
    to specialists for further investigation and diagnosis;</li>
<li>Improving the availability of new and innovative treatments; and</li>
<li>Facilitating participation in cancer drug and treatment trials.</li>
</ul>
</div>
{% endblock %}